@charset "UTF-8";


/* 공통 */
.prd-detail-wrap {overflow-x: visible;}
.prd-new-wrap .life {position: relative; z-index: 0; height: 100%; background: #fff;}
.prd-new-wrap .life .life-visually-hidden {overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; border: 0; white-space: nowrap; clip: rect(0, 0, 0, 0); clip-path: inset(0 0 99.9% 99.9%);}
.prd-new-wrap .life .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}
.prd-new-wrap .life .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.prd-new-wrap .life .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-property: transform,-webkit-transform
}

/* 스티키 */
.prd-new-wrap .life .life-sticky-wrappper {position: relative;}
.prd-new-wrap .life .life-sticky {overflow: hidden; position: sticky; top: var(--header-height); height: calc(100vh - var(--header-height));}
.prd-new-wrap .life .life-sticky-content {position: absolute; width: 100%; height: calc(100vh - var(--header-height));}

.prd-new-wrap .life .life-sticky-wrappper-section01 {height: calc(350vh - var(--header-height));}
.prd-new-wrap .life .life-section01-stage {height: 200vh;}
.prd-new-wrap .life .life-section01 {overflow: hidden; height: 100%;}
.prd-new-wrap .life .life-section01-container {display: flex; align-items: center; height: 100%;}
.prd-new-wrap .life .life-section01-content {width: 100%;}

.prd-new-wrap .life .life-sticky-wrappper-section02 {height: calc(150vh - var(--header-height)); margin-top: -30vh;}
.prd-new-wrap .life .life-section02 {display: flex; align-items: flex-start; justify-content: center; position: relative; overflow: hidden; height: 100%;}
.prd-new-wrap .life .life-section02-container {}
.prd-new-wrap .life .life-section02 .life-section02-lottie {width: 100%;}

.prd-new-wrap .life .life-sticky-wrappper-section03 {height: calc(300vh - var(--header-height));}
.prd-new-wrap .life .life-section03-blue-stage {height: 100vh;}
.prd-new-wrap .life .life-section03-blue-stage-book {height: 300vh; margin-top: -55vh;}
.prd-new-wrap .life .life-section03-wrapper {position: relative;}
.prd-new-wrap .life .life-section03 {overflow: hidden; position: absolute; top: 0; z-index: 0; width: 100%; height: calc(100% + 1rem); background: #fff;}
.prd-new-wrap .life .life-section03-container {width: 100%; height: 100%; display: flex; align-items: center;}
.prd-new-wrap .life .life-section03-content {width: 100%;}
.prd-new-wrap .life .life-section03-title {position: relative; z-index: 1;color: #000; font-weight: 900; font-size: calc(8rem / 3); text-align: center; letter-spacing: -0.015em;}
.prd-new-wrap .life .life-section03-title-block {display: block;}
.prd-new-wrap .life .life-section03-title-subtext {margin-top: calc(6rem / 3); color: #5a5a5a; font-size: calc(4.5rem / 3); text-align: center; letter-spacing: -0.028em;}
.prd-new-wrap .life .life-section03-box {margin-top: calc(-15rem / 3);}
.prd-new-wrap .life .life-section03-lottie {width: calc(74rem / 3); margin: calc(-74rem / 3) auto 0;}
.prd-new-wrap .life .life-section03-bank-book {width: calc(44.1rem / 3); margin: 0 auto;}
.prd-new-wrap .life .life-section03-bank-book-image {width: 100%;}
.prd-new-wrap .life .life-section03-subtext {color: #141414; margin-top: calc(8.4rem / 3); font-weight: 500; font-size: calc(6.7rem / 3); text-align: center; letter-spacing: -0.035em;}
.prd-new-wrap .life .life-section03-subtext-block {display: block;}
.prd-new-wrap .life .life-section03-subtext-big {color: #00f61d; font-weight: 600; font-size: calc(11.8rem / 3); letter-spacing: -0.035em;}
.prd-new-wrap .life .life-section03-blue {background: #120064;}
.prd-new-wrap .life .life-section03-blue .life-section03-title {color: #fff;}
.prd-new-wrap .life .life-section03-blue .life-section03-title-subtext {color: #fff;}
.prd-new-wrap .life .life-section03-blue .life-section03-subtext {color: #fff;}
.prd-new-wrap .life .life-section03-backdrop {display: none; position: absolute; top: -7%; width: 100%; height: 7%; background: linear-gradient(to bottom, transparent, transparent 0%, #fff 50%, #fff 100%);}

.prd-new-wrap .life .life-section04 {height: calc(179rem / 3); background: linear-gradient(to bottom, #110878, #0096ff);}
.prd-new-wrap .life .life-section04-container {width: 100%; height: 100%; display: flex; justify-content: center;}
.prd-new-wrap .life .life-section04-content {width: 100%;}
.prd-new-wrap .life .life-section04-title {margin-top: calc(23.5rem / 3); color: #fff; font-size: calc(8rem / 3); letter-spacing: -0.015em; line-height: calc(105 / 80); text-align: center;}
.prd-new-wrap .life .life-section04-title-block {display: block;}
.prd-new-wrap .life .life-section04-charge {position: relative; z-index: 0; width: calc(55.9rem / 3);  margin: calc(16rem / 3) auto;}
.prd-new-wrap .life .life-section04-charge-door {position: absolute; top: 0; left: 50%; width: calc(71.5rem / 3); height: calc(1.2rem / 3); border-radius: calc(0.6rem / 3); background: #000; transform: translate(-50%); }
.prd-new-wrap .life .life-section04-charge-door::before {position: absolute; top: calc(-8.7rem / 3); width: 100%; height: calc(8.7rem / 3); background: url(/resource/img/mmk/adq/life/img_section03_charge_shadow.png) no-repeat center top / contain; content: "";}
.prd-new-wrap .life .life-section04-charge-box {display: flex; align-items: flex-end; overflow: hidden;}
.prd-new-wrap .life .life-section04-charge-image {position: relative; z-index: 1; width: 100%;}

.prd-new-wrap .life .life-sticky-wrappper-section05 {height: calc(300vh - var(--header-height));}
.prd-new-wrap .life .life-section05-dial-stage {height: 200vh;}
/*height: calc(181.4rem / 3);*/
.prd-new-wrap .life .life-section05 {position: relative; height: 100%;}
.prd-new-wrap .life .life-section05-container {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
.prd-new-wrap .life .life-section05-content {width: 100%;}
.prd-new-wrap .life .life-section05-title {color: #000; font-weight:900; font-size: calc(8rem / 3); letter-spacing: -0.015em; line-height: calc(105 / 80); text-align: center;}
.prd-new-wrap .life .life-section05-title-block {display: block;}
.prd-new-wrap .life .life-section05-subtext {color: #5a5a5a; margin-top: calc(7rem / 3); font-weight: 500; font-size: calc(4.5rem / 3); line-height: calc(67 / 45); text-align: center; letter-spacing: -0.028em;}
.prd-new-wrap .life .life-section05-subtext-block {display: block;}
.prd-new-wrap .life .life-section05-dial-lottie {width: calc(74rem / 3); margin: calc(8rem / 3) auto 0;}

.prd-new-wrap .life .life-sticky-wrappper-section06 {height: calc(300vh - var(--header-height));}
.prd-new-wrap .life .life-section06-calendar-stage {height: 200vh;}
.prd-new-wrap .life .life-section06 {position: relative; height: 100%;}
.prd-new-wrap .life .life-section06-container {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
.prd-new-wrap .life .life-section06-content {width: 100%;}
.prd-new-wrap .life .life-section06-title {color: #000; font-weight:900; font-size: calc(8rem / 3); letter-spacing: -0.015em; line-height: calc(105 / 80); text-align: center;}
.prd-new-wrap .life .life-section06-title-block {display: block;}
.prd-new-wrap .life .life-section06-subtext {color: #5a5a5a; margin-top: calc(7rem / 3); font-weight: 500; font-size: calc(4.5rem / 3); line-height: calc(67 / 45); text-align: center; letter-spacing: -0.028em;}
.prd-new-wrap .life .life-section06-subtext-block {display: block;}
.prd-new-wrap .life .life-section06-subtext-point {color: #00bd3a;}
.prd-new-wrap .life .life-section06-calendar {width: calc(61.3rem / 3); margin: calc(6rem / 3) auto 0;}
.prd-new-wrap .life .life-section06-calendar-image {width: 100%;}
.prd-new-wrap .life .life-section06-calendar-lottie {width: calc(70rem / 3); margin: 0 auto;}
.prd-new-wrap .life .life-section06-button-box {display: flex; justify-content: center; margin-top: calc(8rem / 3);}
.prd-new-wrap .life .life-section06-button-link {display: flex; align-items: center; justify-content: center; width: calc(67rem / 3); height: calc(18.8rem / 3); border-radius: calc(9.4rem / 3); background: #040019; }
.prd-new-wrap .life .life-section06-button-link-text {padding-right: calc(4.4rem / 3); background: url(/resource/img/mmk/adq/life/icon_section06_arrow.png) no-repeat right center / calc(1.8rem / 3) auto; color: #fff; font-weight: 600; font-size: calc(5.3rem / 3); letter-spacing: -0.02em;}

.prd-new-wrap .life .life-section07 {height: calc(182rem / 3);}
.prd-new-wrap .life .life-section07-container {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
.prd-new-wrap .life .life-section07-content {width: 100%;}
.prd-new-wrap .life .life-section07-title {color: #000; font-weight:900; font-size: calc(8rem / 3); letter-spacing: -0.015em; line-height: calc(105 / 80); text-align: center;}
.prd-new-wrap .life .life-section07-title-block {display: block;}

.prd-new-wrap .life .life-section07-visual {margin-top: calc(11rem / 3);}
.prd-new-wrap .life .life-section07 .swiper-slide {width: calc(70rem / 3);}
.prd-new-wrap .life .life-section07 .swiper-slide-active .life-section07-visual-content {transform: scale(1);}
.prd-new-wrap .life .life-section07 .swiper-pagination {margin-top: calc(4rem / 3); text-align: center;}
.prd-new-wrap .life .life-section07 .swiper-pagination-bullet {display: inline-block; width: calc(3rem / 3); height: calc(3rem / 3); margin: 0 calc(1.2rem / 3); border-radius: 100%; background: #f1f1f1;}
.prd-new-wrap .life .life-section07 .swiper-pagination-bullet-active {background: #cbcbcb;}
.prd-new-wrap .life .life-section07-visual-container {}
.prd-new-wrap .life .life-section07-visual-content {width: calc(70rem / 3); transform: scale(0.8); transition: transform .3s ease;}
.prd-new-wrap .life .life-section07-visual-image {width: 100%;}
.prd-new-wrap .life .section07-visual-item {width: 100%;}