html {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.lottery-box {
  width: 1fr;
  height: 200px;
  border: 5px solid gray;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.request-ticket {
  font-size: 80pt;
  line-height: 145pt;
  height: 1fr;
  text-align: center;
  font-weight: 700;
}
.draw-btn {
  width: 100%;
  height: 52px;
  font-size: 12pt;
  line-height: 150%;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: rgba(255, 255, 255, 1);
  background: rgba(15, 0, 96, 1);
  margin-top: 10px;
  opacity: 1;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
table {
  margin: 0;
  padding: 0;
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
}

table td,
table th {
  width: 10%;
  padding: 10px;
  margin: 0;
  font-size: 12pt;
  vertical-align: top;
  text-align: center;
  border-left: 0.5px solid gray;
}

div.ticket-list-all ul li {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
}

ul {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  text-align: left;
  margin: 0;
  padding-left: 30px;
  list-style-type: decimal;
}
