@charset "UTF-8";
/* font */
@font-face{font-family:'Pretendard K Edition';font-style:normal;font-display:swap;font-weight:400;src:url("font/PretendardKEdition-Regular-1303-subset.woff2") format("woff2"),url("font/PretendardKEdition-Regular-1303-subset.woff") format("woff")} 
@font-face{font-family:'Pretendard K Edition';font-style:normal;font-display:swap;font-weight:500;src:url("font/PretendardKEdition-Medium-1303-subset.woff2") format("woff2"),url("font/PretendPretendardKEdition-Medium-1303-subset.woff") format("woff")} 
@font-face{font-family:'Pretendard K Edition';font-style:normal;font-display:swap;font-weight:700;src:url("font/PretendardKEdition-Bold-1303-subset.woff2") format("woff2"),url("font/PretendardKEdition-Bold-1303-subset.woff") format("woff")}

/* reset */
*,*::after,*::before{-webkit-box-sizing:border-box;box-sizing:border-box}
html{-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;font-size:10px;font-weight:400;line-height:1.15;word-break:break-all;word-wrap:break-word;letter-spacing:0}
@media (max-width:375px){
html{font-size:calc(10px + 20 * ((100vw - 375px) / 750))}
}

article,aside,audio,blockquote,body,canvas,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,mark,nav,ol,p,pre,section,td,textarea,th,time,ul,video{margin:0;padding:0}
body{color:#141414;background-color:#fff;font-size:1.6rem;font-family:'Pretendard K Edition',-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic',sans-serif;font-variant-numeric:tabular-nums}
body *{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}
body *:focus{outline:none}
body a,body button{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;outline:none}
img{border:0;border-style:none}
button{border:0;background:none;padding:0;cursor:pointer;line-height:1.15}
button,input,optgroup,select,textarea{margin:0;font-size:100%;font-family:inherit}
table{border-collapse:collapse;border-spacing:0}
fieldset{border:0}
legend{color:#000}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;line-height:1}
caption,hr,legend{width:0;height:0;font-size:1px;text-indent:-9999em;line-height:0}
a{color:inherit;text-decoration:none;background-color:transparent}
a:visited span{border:inherit}
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
main{display:block}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
button,input{overflow:visible}
input:disabled {opacity:1;-webkit-text-fill-color:#b8b8b8;}
button,select{text-transform:none;color:#141414;}
[type="button"],[type="reset"],[type="submit"],button{-webkit-appearance:button;color:#141414;}
[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
progress{vertical-align:baseline}
textarea{overflow:auto}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details{display:block}
template{display:none}
[hidden]{display:none}

/* print */
@media print{
    *,*:after,*:before{background:transparent!important;color:#141414 !important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}
    a,a:visited{text-decoration:underline}
    a[href]:after{content:" (" attr(href) ")"}
    abbr[title]:after{content:" (" attr(title) ")"}
    a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
    pre{white-space:pre-wrap!important}
    blockquote,pre{border:1px solid #999;page-break-inside:avoid}
    thead{display:table-header-group}
    img,tr{page-break-inside:avoid}
    h2,h3,p{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}
}
/*
* float 해제 클래스
*/
.clfix:after,.clfix:before{display:table;line-height:0;content:""}
.clfix:after{clear:both}
/*
* 웹접근성 관련 소스
* 숨김 텍스트 처리 클래스
*/
.hide-txt{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:0;clip:rect(0 0 0 0);white-space:nowrap;margin:-1px;padding:0;border:0}
/*
* 웹접근성 관련 소스
* a태그 자식요소의 hide-txt 클래스는 모바일 디바이스 사이즈에서 font-size:1px 을 font-size:0 으로 변경해야 초점 오류를 방지할 수 있다.
* 참고사항 : 모바일 분기 사이즈에 따라 아래 max-width 값은 변경될 수 있음.
*/
@media (max-width:1024px){
a .hide-txt{font-size:0}
}
/*
* 웹접근성 관련 소스
* 보이스오버 초점
* 주의사항 : a태그의 before 가상클래스 사용하지 말 것
*/
a:before{content:'';position:absolute;font-size:0;}
/*
* 웹접근성 관련 소스
* 강제 포커스 생성되는 곳의 아웃라인을 제거하는 소스
*/
[tabindex="-1"]:focus{outline:0}
/*
* skipnav
* 웹접근성 관련 네비게이션
*/
.skipnav{display:none;position:absolute;top:0;left:0;z-index:9999;width:100%;height:0;line-height:1}
.skipnav a{display:block;overflow:hidden;width:1px;height:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:1}
.skipnav a:active,.skipnav a:focus,.skipnav a:hover{position:absolute;top:0;left:0;z-index:50;width:100%;height:19px;margin:0;padding:5px 0;border:1px solid #c4d7ea;background:#2b6cb0;color:#ffffff;font-weight:700;font-size:1.333em;text-align:center;line-height:100%}
/*
* html layout
* 레이아웃
*/
body,html{height:100%}
#wrap-mmk{height:100%}
#content-mmk{height:100%}
[class^="kbank-page-container-"]{height:100%}
[class^="kbank-page-wrapper-"]{height:100%}
[class^="kbank-page-"]{width:100%;background-color:#fff;height:100%}
.page-inner-scroll{position:relative;overflow-y:auto;height:100%}
.page-inner-scroll.none{position:static;height:100vh;overflow-y:hidden}
.page-inner-scroll.scrolling .component-header{position:-webkit-sticky;position:sticky}
.kbank-page-wrapper .ui-kbank-page-control{position:fixed;z-index:99}
.kbank-page-wrapper .ui-kbank-page-control.activeSlide{z-index:101}
#content-mmk > div:first-child,#page-popup-widget{height:100%}
/*
* container layout
* 컴포넌트 부모 레이아웃
*/
.container-component{min-height:100%;padding:0 0 2.4rem 0}
.container-component:last-child{padding-bottom:15.4rem}
.container-component + .container-component{padding-top:0}

[class^="component-"].no-space {padding: 0;}

.bg-white{background-color:#fff}
/*
* component layout
* 컴포넌트 추가 클래스 관리
*/
[class^="component-"]{padding:0 2.0rem}
[class^="component-"].fixed-bottom{position:fixed;bottom:0;bottom:constant(safe-area-inset-bottom);bottom:env(safe-area-inset-bottom);left:0;width:100%;z-index:82}

/*
 * 공통 스타일
 * component element
 * icon
 */
 [class^="ico-"]{display:inline-block;vertical-align:middle;background-repeat:no-repeat;background-position:center;background-size:contain;}

.et--component-group2-title02{margin-top:30px;font-size:16px;font-weight:500;line-height:normal;letter-spacing:0;color:#5a67d8;position:relative;padding-left:20px}
.et--component-group2-title02::before{position:absolute;left:0;top:3px;content:'';display:block;width:13px;height:13px;border:3px solid #5a67d8;border-radius:50%}

.et--component-guide-list{margin-top:10px}
.et--component-guide-list li{position:relative;padding-left:20px;font-size:14px;font-weight:400;line-height:1.5;letter-spacing:0;color:#757575}
.et--component-guide-list li::before{content:"";display:block;position:absolute;left:10px;top:10px;width:2px;height:2px;margin-top:-1px;border-radius:100%;background-color:#757575;clear:both}
.et--component-guide-list li + li{margin-top:5px}
.et--component-guide-table{width:100%;margin-top:10px;table-layout:fixed}
.et--component-guide-table td,.et--component-guide-table th{border:1px solid #ddd;line-height:1.3}
.et--component-guide-table th{padding:10px 0;font-size:14px;font-weight:600;text-align:center;background-color:#ddd}
.et--component-guide-table td{padding:7px 10px;font-size:14px}
.et--component-guide-table em{color:#5a67d8;font-weight:600}
.example{display:block;padding-left:23px;text-indent:-23px}



/* header */
.page-inner-scroll.scrolling .component-header {position: sticky;top:0;z-index: 1;}
.component-header {background-color: #fff;}
.header-content{position:relative;height:5rem;}
.header-content a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:5rem;height:5rem;position:absolute;top:0;z-index: 1;}
.header-content a.btn-back{left:0}
.header-content a.btn-home{right:0}
.header-content a.btn-home .ico-home{width:2.4rem;height:2.4rem}
.header-content a.btn-control{right:0;width:6rem}
.header-content a.btn-control.auto {width:auto;right:2rem}
.header-content a.btn-close{right:0}
.header-content a.btn-close .ico-line{width:2rem;height:2rem}
.header-content a.btn-close .ico-line:after,.header-content a.btn-close .ico-line:before{background-color:#141414}
.header-content .tit-header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:5rem;padding:0 5rem;font-size:1.8rem;line-height:1.38889;font-weight:400}
.header-content .tit-header span{margin-top:0.2rem;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap} 

.prd-detail-wrap {background: #fff;overflow-x: hidden;}


/* 아코디언 */
.list-linebox-group{padding:0;background:#fff}
.list-linebox-group .list-item {border-bottom: 1px solid #eee;}
.list-linebox-group .section-link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;align-items:center;padding:1.6rem 2rem}
.list-linebox-group .section-link + .section-link{padding-top:0}
.list-linebox-group .col-tit{display:-webkit-box;display:-ms-flexbox;display:flex}
.list-linebox-group .col-tit .tit-caption{margin:-0.3rem 1.2rem 0 0;color: #0150ff;font-size: 1.8rem;}
.list-linebox-group .col-tit .col-area{display:-webkit-box;display:-ms-flexbox;display:flex}
.list-linebox-group .tit-head{font-size:1.4rem;line-height:1.42857;font-weight:400}
.list-linebox-group .tit-list{font-size:1.6rem;line-height:2.1rem;font-weight:400;word-break:break-all;color:#141414}
.list-linebox-group .col-state{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-left:1rem}
.list-linebox-group .col-state .txt-state + .ico-arrow-link{margin-left:0.4rem;width:1.6rem;height:1.6rem;}
.list-linebox-group .col-state .ico-arrow-link {width:1.6rem;height:1.6rem;}
.list-linebox-group .accordion-cont {padding: 2.4rem 2rem;background: #f8f8f8;display: none;}
.ui-accordion-list.open .ui-accordion-cont {display: block;}
.component-prd-acco {padding: 0;}

.txt-lv03 {font-size: 1.4rem;line-height: 1.42857;font-weight: 400;}
.txt-add-group.prd {padding:2rem 2.0rem 0;text-align:left;color:#7d7d7d}
.txt-add-group.prd .txt-lv03 {padding-bottom: 1rem;}

.icon-list-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.icon-list-group .item-tap{-webkit-box-flex:1;-ms-flex:1;flex:1;text-align:center;margin:3rem 0 4.2rem}
.icon-list-group .item-tap [class*="ico-"]{width:3.2rem;height:3.2rem}
.icon-list-group .item-tap .txt{display:block;font-size:1.4rem;line-height:1.42857;font-weight:400;margin-top:0.6rem}

.icon-list-group.prd {padding:2rem 0 5rem;}
.icon-list-group.prd .item-tap {margin:0;}
.icon-list-group.prd .item-tap [class*="ico-"] {width:3rem;height:3rem}
.icon-list-group.prd .item-tap .ico-prod-01 {background:#ccc;} 
.icon-list-group.prd .item-tap .ico-prod-02 {background:#ccc;} 
.icon-list-group.prd .item-tap .ico-prod-03 {background:#ccc;} 
.icon-list-group .item-tap .txt{display:block;font-size:1.4rem;line-height:1.42857;font-weight:400;margin-top:0.6rem}
.icon-list-group.bar .item-tap:not(:first-child){border-left:0.1rem solid #e0e0e0}
.icon-list-group.bar .txt{font-size:1.4rem;line-height:1.42857;font-weight:bold}