@charset "UTF-8";

/* 모임통장 */
/* 공통 */
#container_inner {overflow: visible;}
.prd-new-wrap .moim {position: relative; z-index: 0; height: 100%; background: #fff;}
.prd-new-wrap .moim .moim-visually-hidden {overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; border: 0; white-space: nowrap; clip: rect(0, 0, 0, 0); clip-path: inset(0 0 99.9% 99.9%);}
.prd-new-wrap .moim .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}
.prd-new-wrap .moim .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.prd-new-wrap .moim .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-property: transform,-webkit-transform
}

/* 스티키 */
.prd-new-wrap .moim .moim-sticky-wrappper {position: relative;}
.prd-new-wrap .moim .moim-sticky {overflow: hidden; position: sticky; top: 0; height: 100vh;}
.prd-new-wrap .moim .moim-sticky-content {position: absolute; width: 100%; height: 100vh;}

/* section01 */
.prd-new-wrap .moim .moim-section01-stage {height: 200vh;}
.prd-new-wrap .moim .moim-section01 {position: relative; height: 100%; background: #fff;}
.prd-new-wrap .moim .moim-section01-container {display: flex; justify-content: center; align-items: center; height: 100%;}
.prd-new-wrap .moim .moim-section01-lottie {width: 100%; aspect-ratio: 1 / 1;}

/* section02 */
.prd-new-wrap .moim .moim-section02-stage {height: 200vh;}
.prd-new-wrap .moim .moim-section02 {overflow: hidden; position: absolute; top: 0; z-index: 1; width: 100%; height: 100%; background: #2030ff; clip-path: inset(100%);}
.prd-new-wrap .moim .moim-section02-container {display: flex; justify-content: center; align-items: center; height: 100%;}
.prd-new-wrap .moim .moim-section02-lottie {aspect-ratio: 1 / 1;}

/* 모이면 모일수록 FUN해지는 우리 */
.prd-new-wrap .moim .moim-section03-stage {height: 300vh;}
.prd-new-wrap .moim .moim-section03 {overflow: hidden; position: relative; z-index: 0; height: 100%; background: #2030ff; box-sizing: border-box;}
.prd-new-wrap .moim .moim-section03-container {display: flex; align-items: center; width: 940px; height: 100%;}
.prd-new-wrap .moim .moim-section03-content {width: 940px;}
.prd-new-wrap .moim .moim-section03-header {}
.prd-new-wrap .moim .moim-section03-title {color: #fff; font-weight: 700; font-size: 36px; text-align: center; letter-spacing: -0.05em; line-height: 1;}
.prd-new-wrap .moim .moim-section03-title-block {}
.prd-new-wrap .moim .moim-section03-subtext {padding-top: 22px; color: #e2dfff; font-size: 16px; text-align: center; line-height: calc(16 / 24);}
.prd-new-wrap .moim .moim-section03-subtext-block {display: block;}
.prd-new-wrap .moim .moim-section03-subtext-small {font-weight: 500; font-size: 12px;}
.prd-new-wrap .moim .moim-section03-button-box {display: flex; justify-content: center; position: relative; z-index: 1; margin-top: 32px;}
.prd-new-wrap .moim .moim-section03-link {display: flex; align-items: center; justify-content: center; width: 196px; height: 52px; border-radius: 26px; background: #17008c;}
.prd-new-wrap .moim .moim-section03-link-text {padding-right: 14px; background: url(/resource/img/mmk/adq/moim-pc/icon_arrow01.png) no-repeat right center / 6px auto;  color: #fff; font-weight: 600; font-size: 16px; line-height: 1;}
.prd-new-wrap .moim .moim-section03-box {position: absolute; bottom: 0; left: 0; height: 340px;}
.prd-new-wrap .moim .moim-section03-arrow {position: absolute; top: -200px; left: -18px; width: 106px; aspect-ratio: 121 / 101; pointer-events: none;}
.prd-new-wrap .moim .moim-section03-percent {position: absolute; bottom: 0; left: 0; z-index: 1; pointer-events: none;}
.prd-new-wrap .moim .moim-section03-percent-lottie {aspect-ratio: 940 / 651;}
.prd-new-wrap .moim .moim-section03-textbox {}
.prd-new-wrap .moim .moim-section03-textbox-title {font-weight: 700; font-size: 30px; letter-spacing: -0.05em;}
.prd-new-wrap .moim .moim-section03-textbox-box {}
.prd-new-wrap .moim .moim-section03-textbox-inner {}
.prd-new-wrap .moim .moim-section03-textbox-text {font-weight: 900; font-size: 64px; letter-spacing: -0.025em; line-height: 1;}
.prd-new-wrap .moim .moim-section03-textbox-number {font-weight: 600; font-size: 134px; letter-spacing: -0.03em; line-height: 1;}
.prd-new-wrap .moim .moim-section03-textbox-dot {font-weight: 600; font-size: 96px; line-height: 1;}
.prd-new-wrap .moim .moim-section03-textbox-percent {display: inline-block; font-weight: 600; font-size: 80px; line-height: 1;}
.prd-new-wrap .moim .moim-section03-textbox-subtext {display: block; font-size: 13px;}

.prd-new-wrap .moim .moim-section03-pink {position: relative; width: 1000px; height: 530px; padding-top: 113px; transform: rotate(12.2deg); box-sizing: border-box;}
.prd-new-wrap .moim .moim-section03-pink-container {position: relative; height: 100%; box-sizing: border-box;}
.prd-new-wrap .moim .moim-section03-pink-content {background: #ff61d4; height: 100%; padding: 60px 0 0 90px;}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-textbox-title {color: #8f0e66;}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-textbox-number {color: #fff;}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-textbox-dot {}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-textbox-percent {margin-left: -1.5rem; color: #fff;}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-textbox-subtext {color: #fff;}

.prd-new-wrap .moim .moim-section03-green {position: absolute; top: 122px; left: 450px; width: 330px; height: 520px; transform: rotate(-15deg); box-sizing: border-box;}
.prd-new-wrap .moim .moim-section03-green-container {position: relative; height: 100%;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-content {background: #77ff25; height: 100%; padding: 40px 0 0 50px; box-shadow: -15px 30px 0 #17008c}
.prd-new-wrap .moim .moim-section03-green .moim-section03-textbox-wrapper {display: inline-block;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-textbox-title {color: #1b8723; font-size: 28px;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-textbox-inner {padding-top: 10px; display: flex;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-textbox-text {display: flex; align-items: flex-start; color: #141414;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-textbox-number {margin-top: -14px; color: #141414;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-textbox-percent {display: flex; align-items: flex-end; color: #141414;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-textbox-subtext {display: block; padding-right: 5px; color: #141414; text-align: right;}

/* 맞춤 프사로 */
.prd-new-wrap .moim .moim-section04 {overflow: hidden; position: relative; z-index: 0; height: 530px;}
.prd-new-wrap .moim .moim-section04-container {position: relative; height: 100%;}
.prd-new-wrap .moim .moim-section04-content {display: flex; align-items: center; justify-content: space-between; height: 100%;}
.prd-new-wrap .moim .moim-section04-box {position: relative; width: 400px; padding-left: 116px;}
.prd-new-wrap .moim .moim-section04-box + .moim-section04-box { width: 540px; padding-left: 0;}
.prd-new-wrap .moim .moim-section04-header {margin-top: -40px;}
.prd-new-wrap .moim .moim-section04-title {font-weight: 900; font-size: 36px; line-height: calc(42 / 36); letter-spacing: -0.05em;}
.prd-new-wrap .moim .moim-section04-title-block {display: block;}
.prd-new-wrap .moim .moim-section04-subtext {padding-top: 20px; color: #656565; font-weight: 500; font-size: 16px; line-height: calc(24 / 16); letter-spacing: -0.05em;}
.prd-new-wrap .moim .moim-section04-keywords {margin-top: 26px;}
.prd-new-wrap .moim .moim-section04-keywords-container {overflow: hidden; position: relative; width: 114px; height: 44px; margin: 0; border: 2px solid #17008c; border-radius: 22px;}
.prd-new-wrap .moim .moim-section04-keywords .swiper-wrapper {flex-direction: column}
.prd-new-wrap .moim .moim-section04-keywords-item {display: flex; justify-content: center; flex-shrink: 0; height: 40px; transition-property: transform;}
.prd-new-wrap .moim .moim-section04-keywords-box {display: flex; align-items: center; justify-content: center; height: 100%; color: #17008c; font-weight: 700; font-size: 24px; letter-spacing: -0.05em; line-height: 1;}
.prd-new-wrap .moim .moim-section04-keywords-item-club .moim-section04-keywords-box {font-size: 21px;}
.prd-new-wrap .moim .moim-section04-keywords-image {margin-left: 4px;}
.prd-new-wrap .moim .moim-section04-keywords-item-friend .moim-section04-keywords-image {width: 24px;}
.prd-new-wrap .moim .moim-section04-keywords-item-love .moim-section04-keywords-image {width: 22px;}
.prd-new-wrap .moim .moim-section04-keywords-item-married-couple .moim-section04-keywords-image {width: 21px;}
.prd-new-wrap .moim .moim-section04-keywords-item-family .moim-section04-keywords-image {width: 20px;}
.prd-new-wrap .moim .moim-section04-keywords-item-club .moim-section04-keywords-image {width: 36px;}
.prd-new-wrap .moim .moim-section04-visual {overflow: hidden; width: 100%; height: 100%; padding-bottom: 40px;}
.prd-new-wrap .moim .moim-section04-visual::before {position: absolute; top: 0; left: 0; z-index: 10; width: 170px; height: 100%; background: linear-gradient(to right, #fff, #fff 20px, transparent 100%); content: "";}
.prd-new-wrap .moim .moim-section04-visual-content {position: relative; clip-path: inset(15% 5% 27% 5% round 2rem); transition: clip-path .4s ease;}
.prd-new-wrap .moim .moim-section04-visual-image {width: 100%; filter: brightness(0.9); transition: filter .3s ease;}
.prd-new-wrap .moim .moim-section04-list {position: absolute; bottom: 66px; padding: 0 10px;}
.prd-new-wrap .moim .moim-section04-item {transform: translateY(50px); opacity: 0;}
.prd-new-wrap .moim .moim-section04-item + .moim-section04-item {margin-top: 4px;}
.prd-new-wrap .moim .moim-section04-item img {width: 100%;}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide {overflow: hidden; position: relative; width: 170px; border-radius: 20px;}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active {z-index: 1; box-shadow: 20px 20px 25px rgba(92, 99, 95, 0.1);}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active .moim-section04-visual-content {clip-path: inset(0 0 0 0 round 20px);}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active .moim-section04-visual-image {filter: brightness(1);}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active .moim-section04-item {transform: translateY(0); opacity: 1; transition: transform .4s ease, opacity .3s ease;}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active .moim-section04-item:nth-child(1) {transition-delay: .3s;}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active .moim-section04-item:nth-child(2) {transition-delay: .6s;}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active .moim-section04-item:nth-child(3) {transition-delay: .9s;}
.prd-new-wrap .moim .moim-section04-visual .swiper-slide-active .moim-section04-item:nth-child(4) {transition-delay: 1.2s;}

/* 저는 이름 대신 */
.prd-new-wrap .moim .moim-section05 {position: relative; z-index: 0; height: 410px; background: #81ff25;}
.prd-new-wrap .moim .moim-section05-container {display: flex; align-items: center; justify-content: center; height: 100%;}
.prd-new-wrap .moim .moim-section05-content {}
.prd-new-wrap .moim .moim-section05-title {position: relative; color: #141414; font-weight: 900; font-size: 44px; letter-spacing: -0.05em; text-align: center;}
.prd-new-wrap .moim .moim-section05-title-block {position: relative; z-index: 1; display: block;}
.prd-new-wrap .moim .moim-section05-name {position: relative; margin: -28px 0 4px;}
.prd-new-wrap .moim .moim-section05-name-lottie {}
.prd-new-wrap .moim .moim-section05-arrow {position: absolute; top: 20px; left: 50%; margin-left: 120px;}
.prd-new-wrap .moim .moim-section05-arrow-lottie {width: 50px; aspect-ratio: 47 / 28;}
.prd-new-wrap .moim .moim-section05-subtext {margin-top: 20px; color: #141414; font-weight: 500; font-size: 16px; text-align: center;}

/* 총무님은 쉬세요 */
.prd-new-wrap .moim .ui-moim-section06-stage {height: 150vh;}
.prd-new-wrap .moim .moim-section06-blue-stage {height: 150vh;}
.prd-new-wrap .moim .moim-section06 {position: absolute; top: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section06-container {display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section06-content { display: flex; align-items: center; justify-content: center;}
.prd-new-wrap .moim .moim-section06-visual {width: 400px;}
.prd-new-wrap .moim .moim-section06-image {width: 100%;}
.prd-new-wrap .moim .moim-section06-title {color: #141414; font-weight: 900; font-size: 36px; letter-spacing: -0.05em; line-height: calc(42 / 36); text-align: center;}
.prd-new-wrap .moim .moim-section06-title-block {display: block;}
.prd-new-wrap .moim .moim-section06-title-point {color: #2030ff;}
.prd-new-wrap .moim .moim-section06-subtext {margin-top: 24px; color: #141414; font-weight: 500; font-size: 16px; text-align: center; letter-spacing: -0.05em; line-height: calc(24 / 16);}
.prd-new-wrap .moim .moim-section06-blue {background: #2030ff;}
.prd-new-wrap .moim .moim-section06-blue .moim-section06-title {color: #fff;}
.prd-new-wrap .moim .moim-section06-blue .moim-section06-title-point {color: #81ff25;}
.prd-new-wrap .moim .moim-section06-blue .moim-section06-subtext {color: #fff;}


/* 살다보면 여유 없을 때도 있잖아요 */
.prd-new-wrap .moim .moim-section07-stage {height: 150vh;}
.prd-new-wrap .moim .moim-section07 {position: relative; height: 100%; background: #2030ff;}
.prd-new-wrap .moim .moim-section07-container {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section07-content {display: flex; align-items: center;}
.prd-new-wrap .moim .moim-section07-header {margin-top: 36px;}
.prd-new-wrap .moim .moim-section07-title {color: #fff; font-weight: 900; font-size: 36px; letter-spacing: -0.05em; line-height: calc(42 / 36);}
.prd-new-wrap .moim .moim-section07-title-block {display: block;}
.prd-new-wrap .moim .moim-section07-subtext {margin-top: 20px; color: #e2dfff; font-weight: 500; font-size: 16px; letter-spacing: -0.05em; line-height: calc(24 / 16);}
.prd-new-wrap .moim .moim-section07-subtext-block {display: block;}
.prd-new-wrap .moim .moim-section07-visual {width: 296px; margin-left: 60px;}

/* 모임통장 그게 모임? */
.prd-new-wrap .moim .moim-section08 {background: #d9e0ea;}
.prd-new-wrap .moim .moim-section08-container {padding: 86px 160px 80px;}
.prd-new-wrap .moim .moim-section08-content {}
.prd-new-wrap .moim .moim-section08-title {padding-top: 70px; background: url(/resource/img/mmk/adq/moim-pc/img_section08_header.png) no-repeat top center / 60px auto; color: #141414; font-weight: 900; font-size: 36px; letter-spacing: -0.05em; text-align: center; line-height: calc(47 / 36);}
.prd-new-wrap .moim .moim-section08-title-point {color: #2030ff;}
.prd-new-wrap .moim .moim-section08-list {margin-top: 40px;}
.prd-new-wrap .moim .moim-section08-item {position: relative; padding-top: 32px;}
.prd-new-wrap .moim .moim-section08-item-emoji {margin-top: -12px !important;}
.prd-new-wrap .moim .moim-section08-item + .moim-section08-item {margin-top: 5px;}
.prd-new-wrap .moim .moim-section08-icon {position: absolute; top: 0; width: 52px;}
.prd-new-wrap .moim .moim-section08-icon img {width: 100%;}
.prd-new-wrap .moim .moim-section08-text-inner {display: flex; align-items: center; height: 100%;}
.prd-new-wrap .moim .moim-section08-emoticon {width: 22px;}
.prd-new-wrap .moim .moim-section08-text + .moim-section08-text {margin-top: 10px;}
.prd-new-wrap .moim .moim-section08-text-box {display: inline-block; position: relative; height: 44px; padding: 0 18px; border-radius: 12px; font-weight: 500; font-size: 18px; line-height: 1; letter-spacing: -0.05em; vertical-align: middle; box-sizing: border-box;}
.prd-new-wrap .moim .moim-section08-item-user01 {padding-left: 66px;}
.prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-icon {left: 0;}
.prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-text:first-of-type .moim-section08-text-box::before {position: absolute; top: 0; left: -4px; width: 10px; height: 10px; background: url(/resource/img/mmk/adq/moim-pc/icon_section08_chat_user01.png) no-repeat left top / contain; content: "";}
.prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-text-box {background: #fff;}
.prd-new-wrap .moim .moim-section08-item-user02 {padding-right: 66px; text-align: right;}
.prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-icon {right: 0;}
.prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-text-box {background: #ffe500;}
.prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-text:first-of-type .moim-section08-text-box::before {position: absolute; top: 0; right: -4px; width: 10px; height: 10px; background: url(/resource/img/mmk/adq/moim-pc/icon_section08_chat_user02.png) no-repeat left top / contain; content: "";}
.prd-new-wrap .moim .moim-section08-button-box {}
.prd-new-wrap .moim .moim-section08-button {display: flex; align-items: center; justify-content: center; height: 70px; background: #2030ff;}
.prd-new-wrap .moim .moim-section08-button-text {padding-right: 18px; background: url(/resource/img/mmk/adq/moim-pc/icon_arrow01.png) no-repeat right center / 9px auto; color: #fff; font-size: 22px; letter-spacing: -0.05em;}
.prd-new-wrap .moim .moim-section08-visual-emoji01 {display: flex; justify-content: flex-end; margin-top: 16px; padding: 0 66px 0 0;}
.prd-new-wrap .moim .moim-section08-emoji01 {width: 116px;}

.prd-new-wrap .moim .moim-section08-visual-emoji02 {display: flex; justify-content: flex-start; margin-top: -36px !important; padding: 0 0 0 66px;}
.prd-new-wrap .moim .moim-section08-emoji02 {width: 98px;}
.prd-new-wrap .moim .moim-section08-visual-emoji03 {display: flex; justify-content: flex-end; margin-top: -70px !important; padding: 0 66px 0 0;}
.prd-new-wrap .moim .moim-section08-emoji03 {width: 130px;}