@charset "UTF-8";

/* 모임통장 */
/* 애니메이션 */
@keyframes percent-rotate-animate {
    from {/
    transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 공통 */
.prd-detail-wrap {overflow-x: visible;}
.prd-new-wrap .moim {position: relative; height: 100%; background: #fff;}
.prd-new-wrap .moim .moim-visually-hidden {overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; border: 0; white-space: nowrap; clip: rect(0, 0, 0, 0); clip-path: inset(0 0 99.9% 99.9%);}
.prd-new-wrap .moim .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.prd-new-wrap .moim .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.prd-new-wrap .moim .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-property: transform,-webkit-transform
}

/* 스티키 */
.prd-new-wrap .moim .moim-sticky-wrappper {position: relative;}
.prd-new-wrap .moim .moim-sticky {overflow: hidden; position: sticky; top: 5rem; height: calc(100vh - 5rem);}
.prd-new-wrap .moim .moim-sticky-content {position: absolute; width: 100%; height: calc(100vh - 5rem);}

/* 스테이지 */
.prd-new-wrap .moim .moim-section01-stage {height: 400vh;}
.prd-new-wrap .moim .moim-section02-stage {height: 100vh;}
.prd-new-wrap .moim .moim-section06-blue-stage {height: 150vh;}

/* section01 */
.prd-new-wrap .moim .moim-section01 {display: flex; justify-content: center; align-itesm: center; overflow: hidden; position: absolute; top: 0; width: 100%; height: 100%;}
/*.prd-new-wrap .moim .moim-section01 .moim-section01-lottie {display:block; overflow: hidden; width:100%; height:100%; margin: 0 auto; background-color:#ffffff; text-align: center; transform: translate3d(0,0,0); opacity: 1;}*/

.prd-new-wrap .moim .moim-section01-lottie {max-width: 335px; aspect-ratio: 1024 / 1820;}
@media screen and (min-width: 768px) {}

/* section02 */
.prd-new-wrap .moim .moim-section02 {overflow: hidden; position: absolute; top: 0; z-index: 1; width: 100%; height: 100%; background: #2030ff; box-sizing: border-box;}
.prd-new-wrap .moim .moim-section02-container {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section02-header {padding-top: calc(648 / 1024 * 100%)}
.prd-new-wrap .moim .moim-section02-logo {text-align: center;}
.prd-new-wrap .moim .moim-section02-logo-image {width: 23.04%; max-width: 236px;}
.prd-new-wrap .moim .moim-section02-title {padding-top: calc(90 / 1024 * 100%); color: #fff; font-weight: 900; font-size: clamp(calc(124px / 3), calc(100vw / 1024 * 124), 124px); text-align: center; letter-spacing: -0.05em; line-height: 1.2;}
.prd-new-wrap .moim .moim-section02-title-block {display: block;}
.prd-new-wrap .moim .moim-section02-title-point {color: #77ff25; font-weight: 900;}
.prd-new-wrap .moim .moim-section02-title-description {padding-top: calc(60 / 1024 * 100%); color: #fff; font-size: clamp(calc(42px / 3), calc(100vw / 1024 * 42), 42px); text-align: center;}

.prd-new-wrap .moim .moim-section02-percent {position: absolute; top: calc((503 - 539) / 1790 * 100%); left: calc(66 / 1024 * 100%); width: calc(539 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section02-picture {position: absolute; top: calc(334 / 1790 * 100%); right: calc(-200 / 1024 * 100%); width: calc(370 / 1024 * 100%); transform: rotate(-45deg)}
.prd-new-wrap .moim .moim-section02-gear {position: absolute; top: calc(1187 / 1790 * 100%); right: calc(-155 / 1024 * 100%); width: calc(470 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section02-nametag {position: absolute; top: calc(1300 / 1790 * 100%); left: calc(-230 / 1024 * 100%); width: calc(622 / 1024 * 100%); transform: rotate(-35deg)}
.prd-new-wrap .moim .moim-section02-cycle {position: absolute; top: calc(600 / 1790 * 100%); left: calc(-240 / 1024 * 100%); width: calc(375 / 1024 * 100%);}

/* 모이면 모일수록 FUN해지는 우리 */
.prd-new-wrap .moim .moim-section03 {overflow: hidden; position: relative; padding-top: clamp(calc(1700px / 3), calc(1700 / 1024 * 100vw), 1700px); background: #2030ff; box-sizing: border-box;}
.prd-new-wrap .moim .moim-section03-container {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section03-header {padding-top: calc(109 / 1024 * 100%)}
.prd-new-wrap .moim .moim-section03-title {color: #fff; font-weight: 700; font-size: clamp(calc(76px / 3), calc(100vw / 1024 * 76), 76px); text-align: center; letter-spacing: -0.05em; line-height: 1.3;}
.prd-new-wrap .moim .moim-section03-title-block {display: block;}
.prd-new-wrap .moim .moim-section03-title-description {padding-top: 4.88%; color: #fff; font-size: clamp(calc(42px / 3), calc(100vw / 1024 * 42), 42px); text-align: center;}
.prd-new-wrap .moim .moim-section03-title-description-block {display: block;}
.prd-new-wrap .moim .moim-section03-arrow {position: absolute; top: calc(200 / 1790 * 100%); left: calc((160 - 377) / 1024 * 100%); width: calc(377 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section03-arrow-image {width: 100%;}
.prd-new-wrap .moim .moim-section03-icon-percent {width: calc(110 / 1024 * 100%); padding-top: calc(110 / 1024 * 100%); background: url(resource/img/moim/icon_percent.svg) no-repeat left top / contain; transform: rotate(0); animation: 2s linear 0s infinite percent-rotate-animate;}

.prd-new-wrap .moim .moim-section03-pink {position: relative; width: calc(1081 / 1024 * 100%); margin: calc(120 / 1024 * 100%) 0 0 -12%; padding-top: calc(150 / 1024 * 100%); transform: rotate(15deg);}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-icon-percent {position: absolute; top: 1.5%; left: 0;}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-pink-box {position: relative; background: #ff61d4; padding-top: calc(1692 / 1024 * 100%)}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-pink-box .moim-section03-textbox {position: absolute; top: 0; left: 0; padding: calc(108 / 1024 * 100%) 0 0 calc(90 / 1024 * 100%)}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-pink-box .moim-section03-textbox-title {color: #8f0e66; font-weight: 700; font-size: clamp(calc(58px / 3), calc(100vw / 1024 * 58), 58px); letter-spacing: -0.05em;}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-pink-box .moim-section03-textbox-text {margin: -2% 0 0 -2%; color: #fff; font-weight: 600; font-size: clamp(calc(272px / 3), calc(100vw / 1024 * 272), 272px); letter-spacing: -0.025em; line-height: 1;}
.prd-new-wrap .moim .moim-section03-pink .moim-section03-pink-box .moim-section03-textbox-small {display: inline-block; margin-left: -7%; font-weight: 900; font-size: clamp(calc(168px / 3), calc(100vw / 1024 * 168), 168px); line-height: 1;}

.prd-new-wrap .moim .moim-section03-green {position: relative;  left: calc(270 / 1024 * 100%); width: calc(1081 / 1024 * 100%); margin: calc(1486 / 1024 * -100%) 0 0 0;  padding-top: calc(150 / 1024 * 100%); transform: rotate(-15deg)}
.prd-new-wrap .moim .moim-section03-green .moim-section03-icon-percent {position: absolute; top: 1.5%; left: 0;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-green-box {position: relative; background: #77ff25; padding-top: calc(1692 / 1024 * 100%); box-shadow: -10px 20px 0 #02147b;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-green-box .moim-section03-textbox {position: absolute; top: 0; left: 0; padding: calc(108 / 1024 * 100%) 0 0 calc(90 / 1024 * 100%)}
.prd-new-wrap .moim .moim-section03-green .moim-section03-green-box .moim-section03-textbox-title {color: #1b8723; font-weight: 700; font-size: clamp(calc(55px / 3), calc(100vw / 1024 * 55), 55px); letter-spacing: -0.05em;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-green-box .moim-section03-textbox-block + .moim-section03-textbox-block {padding-top: calc(70 / 1081 * 100%);}
.prd-new-wrap .moim .moim-section03-green .moim-section03-green-box .moim-section03-textbox-text {display: flex; margin: 3% 0 0 -2%; color: #141414; font-weight: 900; font-size: clamp(calc(130px / 3), calc(100vw / 1024 * 130), 130px);  line-height: calc(130 / 150); letter-spacing: -0.1em;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-green-box .moim-section03-textbox-number {margin-top: -10px; font-weight: 600; font-size: clamp(calc(250px / 3), calc(100vw / 1024 * 250), 250px); letter-spacing: -0.08em;}
.prd-new-wrap .moim .moim-section03-green .moim-section03-green-box .moim-section03-textbox-small {display: flex; align-items: flex-end; margin-left: 10px; font-weight: 900; font-size: clamp(calc(162px / 3), calc(100vw / 1024 * 162), 162px);}



/*.prd-new-wrap .moim .moim-section05 {overflow: hidden; position: relative; margin-top:calc((224 + 110) / 1024 * -100%); padding-top: calc((224 + 110) / 1024 * 100%);}*/

/* 맞춤 프사로 */
.prd-new-wrap .moim .moim-section04 {overflow: hidden; position: relative; z-index: 0; margin-top:calc((224 + 110) / 1024 * -100%); padding-top: calc(280 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section04-triangle {position: relative; width: calc(1081 / 1024 * 100%); margin-top: calc((170 + 110) / 1024 * -100%); padding-top: calc(110 / 1024 * 100%); transform: rotate(12deg);}
.prd-new-wrap .moim .moim-section04-icon-percent {width: calc(110 / 1024 * 100%); padding-top: calc(110 / 1024 * 100%); background: url(resource/img/moim/icon_percent.svg) no-repeat left top / contain; transform: rotate(0); animation: 2s linear 0s infinite percent-rotate-animate;}
.prd-new-wrap .moim .moim-section04-triangle .moim-section04-icon-percent {position: absolute; top: calc(240 / 1024 * 100%); left: 0;}
.prd-new-wrap .moim .moim-section04-triangle .moim-section04-triangle-background {width: 100%; margin: calc(110 / 1024 * 100%) 0 0 -2%; padding-top: calc(224 / 1024 * 100%); background: #fff;}

.prd-new-wrap .moim .moim-section04-container {position: relative; padding-top: calc(112 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section04-header {}
.prd-new-wrap .moim .moim-section04-title {font-weight: 900; font-size: clamp(calc(76px / 3), calc(100vw / 1024 * 76), 76px); line-height: calc(99 / 76); letter-spacing: -0.05em;}
.prd-new-wrap .moim .moim-section04-title-block {display: block; text-align: center;}
.prd-new-wrap .moim .moim-section04-description {padding-top: calc(56 / 1024 * 100%); color: #656565; font-weight: 500; font-size: clamp(calc(36px / 3), calc(100vw / 1024 * 36), 36px); line-height: calc(55 / 36); letter-spacing: -0.05em; text-align: center;}
.prd-new-wrap .moim .moim-section04-keywords {position: relative; z-index: 10; display: flex; justify-content: center; padding-top: calc(68 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section04-keywords .moim-section04-keywords-container {position: relative; margin-left: calc(132 / 1024 * -100%); padding-left: calc(132 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section04-keywords ul {display: flex; align-items: center; height: calc(100px / 3); border: 2px solid #02147b; border-radius: 23px; box-sizing: border-box;}
.prd-new-wrap .moim .moim-section04-keywords li {display: flex; align-items: center; justify-content: center; margin: 0 calc(66px / 3);}
.prd-new-wrap .moim .moim-section04-keywords li span {display: block; padding-right: calc(60px / 3); background: url(resource/img/moim/icon_section05_hart.png) no-repeat right center / calc(60px / 3) auto; color: #02147b; font-weight: 900; font-size: calc(56px / 3); line-height: 1; white-space: nowrap;}

@media screen and (min-width: 768px) {
    .prd-new-wrap .moim .moim-section04-keywords ul {height: calc(100px / 2); border-radius: 50px;}
    .prd-new-wrap .moim .moim-section04-keywords li {margin: 0 calc(66px / 2);}
    .prd-new-wrap .moim .moim-section04-keywords li span {padding-right: calc(60px / 2); background: url(resource/img/moim/img_section05_hart.png) no-repeat right center / calc(60px / 2) auto; font-size: calc(56px / 2);}
}

@media screen and (min-width: 940px) {
    .prd-new-wrap .moim .moim-section04-keywords ul {height: calc(100px / 1);}
    .prd-new-wrap .moim .moim-section04-keywords li {margin: 0 calc(66px / 1);}
    .prd-new-wrap .moim .moim-section04-keywords li span {padding-right: calc(60px / 1); background: url(resource/img/moim/img_section05_hart.png) no-repeat right center / calc(60px / 1) auto; font-size: calc(56px / 1);}
}
.prd-new-wrap .moim .moim-section04-arrow {position: absolute; top: calc(57 / 100 * 100%); left: 0; width: calc(104 / 390 * 100%);}
.prd-new-wrap .moim .moim-section04-arrow img {width: 100%;}
.prd-new-wrap .moim .swiper-container .moim-section04-visual-container {overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .swiper-container .moim-section04-visual-content {position: relative; clip-path: inset(15% 5% 27% 5% round 20px); transition: clip-path .4s ease;}
.prd-new-wrap .moim .swiper-container .moim-section04-visual-image {width: 100%; filter: brightness(0.9); transition: filter .3s ease;}
.prd-new-wrap .moim .moim-section04-list {position: absolute; bottom: calc(184 / 980 * 100%); padding: 0 calc(26 / 474 * 100%);}
.prd-new-wrap .moim .moim-section04-item {transform: translateY(50px); opacity: 0;}
.prd-new-wrap .moim .moim-section04-item + .moim-section04-item {margin-top: calc(15 / 474 * 100%);}
.prd-new-wrap .moim .moim-section04-item img {width: 100%;}
/* width: calc(423 / 1024 * 100%); padding-top: calc(536 / 1024 * 100%); */
.prd-new-wrap .moim .moim-section04 .swiper-container {margin-top: calc(50 / 1024 * 100%); padding-bottom: calc(138 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide {overflow: hidden; position: relative; width: calc(474 / 1024 * 100%); margin-right: calc(50 / 1024 * 100%); padding-top: calc(980 / 1024 * 100%); border-radius: 20px;}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active {box-shadow: 45px 45px 58px rgba(92, 99, 95, 0.1);}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active .moim-section04-visual-content {clip-path: inset(0 0 0 0 round 20px);}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active .moim-section04-visual-image {filter: brightness(1);}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active .moim-section04-item {transform: translateY(0); opacity: 1; transition: transform .4s ease, opacity .3s ease;}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active .moim-section04-item:nth-child(1) {transition-delay: .3s;}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active .moim-section04-item:nth-child(2) {transition-delay: .6s;}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active .moim-section04-item:nth-child(3) {transition-delay: .9s;}
.prd-new-wrap .moim .moim-section04 .swiper-container .swiper-slide-active .moim-section04-item:nth-child(4) {transition-delay: 1.2s;}

/* 모임비 플러스 */
/*.prd-new-wrap .moim .moim-section05 {overflow: hidden; position: relative; margin-top:calc((224 + 110) / 1024 * -100%); padding-top: calc((224 + 110) / 1024 * 100%);}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-container {position: relative;}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-header {}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-title {font-weight: 900; font-size: clamp(calc(76px / 3), calc(100vw / 1024 * 76), 76px); line-height: calc(99 / 76); letter-spacing: -0.05em;}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-title-block {display: block; text-align: center;}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-maximum {display: flex; justify-content: center; position: relative; padding-top: calc(70 / 1024 * 100%);}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-maximum .moim-section05-maximum-container {position: relative; width: calc(440 / 1024 * 100%); padding-top: calc(440 / 1024 * 100%); border-radius: 100%; background: #17008c;}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-maximum .moim-section05-maximum-content {display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-maximum .moim-section05-maximum-name {color: #fff; text-align: center; font-weight: 700; font-size: clamp(calc(60px / 3), calc(100vw / 1024 * 60), 60px); letter-spacing: -0.025em;}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-maximum .moim-section05-maximum-big {font-weight: 500; font-size: clamp(calc(140px / 3), calc(100vw / 1024 * 140), 140px);}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-maximum .moim-section05-maximum-small {font-size: clamp(calc(68px / 3), calc(100vw / 1024 * 68), 68px);}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-arrow {width: calc(306 / 1024 * 100%); margin: calc(340 / 1024 * -100%) 0 0 calc(600 / 1024 * 100%);}*/
/*.prd-new-wrap .moim .moim-section05 .moim-section05-arrow img {width: 100%;}*/

/* 저는 이름 대신 */
.prd-new-wrap .moim .moim-section05 {position: relative; background: #81ff25; padding-top: calc(1822 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section05-container {display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section05-content {}
.prd-new-wrap .moim .moim-section05-title {color: #141414; font-weight: 900; font-size: clamp(calc(108px / 3), calc(100vw / 1024 * 108), 108px); letter-spacing: -0.05em; text-align: center;}
.prd-new-wrap .moim .moim-section05-title-block {display: block;}
.prd-new-wrap .moim .moim-section05-name {display: block; position: relative; margin: calc(20 / 1024 * 100%) 0; padding-top: calc(220 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section05-name img {position: absolute; top: 0; left: 50%; width: auto; height: 100%; transform: translateX(-50%);}
.prd-new-wrap .moim .moim-section05-description {padding-top: calc(54 / 1024 * 100%); color: #141414; font-weight: 500; font-size: clamp(calc(40px / 3), calc(100vw / 1024 * 40), 40px);}

/* 총무님은 쉬세요 */
.prd-new-wrap .moim .moim-section06 {position: absolute; top: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section06-container {display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section06-content {}
.prd-new-wrap .moim .moim-section06-title {color: #141414; font-weight: 900; font-size: clamp(calc(92px / 3), calc(100vw / 1024 * 92), 92px); letter-spacing: -0.05em; text-align: center;}
.prd-new-wrap .moim .moim-section06-title-block {display: block;}
.prd-new-wrap .moim .moim-section06-title-point {color: #2030ff;}
.prd-new-wrap .moim .moim-section06-visual {margin-top: calc(84 / 1024 * 100%); padding: 0 calc(60 / 1024 * 100%) 0 calc(146 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section06-visual img {width: 100%;}
.prd-new-wrap .moim .moim-section06-description {margin-top: calc(76 / 1024 * 100%); color: #141414; font-weight: 500; font-size: clamp(calc(38px / 3), calc(100vw / 1024 * 38), 38px); text-align: center; letter-spacing: -0.05em; line-height: calc(58 / 38);}

.prd-new-wrap .moim .moim-section06-blue {background: #2030ff;}
.prd-new-wrap .moim .moim-section06-blue .moim-section06-title {color: #fff;}
.prd-new-wrap .moim .moim-section06-blue .moim-section06-title-point {color: #81ff25;}
.prd-new-wrap .moim .moim-section06-blue .moim-section06-description {color: #fff;}


/* 살다보면 여유 없을 때도 있잖아요 */
.prd-new-wrap .moim .moim-section07 {position: relative; padding-top: calc(1820 / 1024 * 100%); background: #2030ff;}
.prd-new-wrap .moim .moim-section07-container {display: flex; align-items: flex-start; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.prd-new-wrap .moim .moim-section07-content {padding-top: calc(218 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section07-title {color: #fff; font-weight: 900; font-size: clamp(calc(76px / 3), calc(100vw / 1024 * 76), 76px); letter-spacing: -0.05em; text-align: center; line-height: calc(98 / 76);}
.prd-new-wrap .moim .moim-section07-title-block {display: block;}
.prd-new-wrap .moim .moim-section07-description {margin-top: calc(56 / 1024 * 100%); color: #e2dfff; font-weight: 500; font-size: clamp(calc(36px / 3), calc(100vw / 1024 * 36), 36px); text-align: center; letter-spacing: -0.05em; line-height: calc(55 / 36);}
.prd-new-wrap .moim .moim-section07-description-block {display: block;}
.prd-new-wrap .moim .moim-section07-arrow {width: calc(176 / 1024 * 100%); margin: calc(90 / 1024 * 100%) auto 0;}
.prd-new-wrap .moim .moim-section07-arrow img {width: 100%;}
.prd-new-wrap .moim .moim-section07-visual {margin: calc(70 / 1024 * 100%) auto 0;}
.prd-new-wrap .moim .moim-section07-visual img {width: 100%;}

/* 모임통장 그게 모임? */
.prd-new-wrap .moim .moim-section08 {padding: calc(84 / 1024 * 100%) calc(52 / 1024 * 100%) calc(88 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-content {padding: calc(145 / 1024 * 100%) calc(50 / 1024 * 100%) calc(120 / 1024 * 100%); border-radius: 20px; background: #d9e0ea;}
.prd-new-wrap .moim .moim-section08-title {color: #141414; font-weight: 900; font-size: clamp(calc(76px / 3), calc(100vw / 1024 * 76), 76px); letter-spacing: -0.05em; text-align: center; line-height: calc(98 / 76);}
.prd-new-wrap .moim .moim-section08-title-point {color: #2030ff;}
.prd-new-wrap .moim .moim-section08-list {margin-top: calc(80 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-item {position: relative; padding-top: calc(52 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-item + .moim-section08-item {margin-top: calc(20 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-icon {position: absolute; top: 0; width: calc(88 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-icon img {width: 100%;}
.prd-new-wrap .moim .moim-section08-item .moim-section08-text-inner {display: flex; align-items: center; height: 100%;}
.prd-new-wrap .moim .moim-section08-item .moim-section08-emoticon {width: calc(68px / 3);}

.prd-new-wrap .moim .moim-section08-text + .moim-section08-text {margin-top: calc(16 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-text .moim-section08-text-box {display: inline-block; position: relative; height: calc(88px / 3); padding: 0 calc(33 / 1024 * 100%); border-radius: 12px; font-weight: 500; font-size: clamp(calc(36px / 3), calc(100vw / 1024 * 36), 36px); line-height: 1; letter-spacing: -0.05em; vertical-align: middle; box-sizing: border-box;}

.prd-new-wrap .moim .moim-section08-item-user01 {padding-left: calc(106 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-icon {left: 0;}
.prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-text:first-of-type .moim-section08-text-box::before {position: absolute; top: calc(9px / 3); left: calc(-8px / 3); width: calc(20px / 3); height: calc(20px / 3); background: url(resource/img/moim/icon_section09_chat_user.png) no-repeat left top / contain; content: "";}
.prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-text-box {background: #fff;}
.prd-new-wrap .moim .moim-section08-item-user02 {padding-right: calc(106 / 1024 * 100%); text-align: right;}
.prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-icon {right: 0;}
.prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-text-box {background: #ffe500;}
.prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-text:first-of-type .moim-section08-text-box::before {position: absolute; top: calc(9px / 3); right: calc(-8px / 3); width: calc(20px / 3); height: calc(20px / 3); background: url(resource/img/moim/icon_section09_chat_kbank.png) no-repeat left top / contain; content: "";}

@media screen and (min-width: 768px) {
    .prd-new-wrap .moim .moim-section08-text .moim-section08-text-box {border-radius: 16px;}
    .prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-text:first-of-type .moim-section08-text-box::before {top: calc(9px / 2); left: calc(-8px / 2); width: calc(20px / 2); height: calc(20px / 2);}
    .prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-text:first-of-type .moim-section08-text-box::before {top: calc(9px / 2); right: calc(-8px / 2);  width: calc(20px / 2); height: calc(20px / 2);}
}

@media screen and (min-width: 940px) {
    .prd-new-wrap .moim .moim-section08-text .moim-section08-text-box {border-radius: 20px;}
    .prd-new-wrap .moim .moim-section08-item-user01 .moim-section08-text:first-of-type .moim-section08-text-box::before {top: calc(9px / 1); left: calc(-8px / 1); width: calc(20px / 1); height: calc(20px / 1);}
    .prd-new-wrap .moim .moim-section08-item-user02 .moim-section08-text:first-of-type .moim-section08-text-box::before {top: calc(9px / 1); right: calc(-8px / 1);  width: calc(20px / 1); height: calc(20px / 1);}
}

.prd-new-wrap .moim .moim-section08-button-box {margin-top: calc(82 / 1024 * 100%);}
.prd-new-wrap .moim .moim-section08-button {display: flex; align-items: center; justify-content: center; height: calc(186px / 3); border-radius: calc(93px / 3); background: #2030ff;}
.prd-new-wrap .moim .moim-section08-button-text {padding-right: calc(50px / 3); background: url(resource/img/moim/icon_section09_arrow.png) no-repeat right center / calc(20px / 3) auto; color: #fff; font-size: calc(60px / 3); letter-spacing: -0.05em;}
